/* RESET
------------------------------------------------------------------------------------------------ */

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, form, fieldset, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, main, menu, nav, section, summary, time, mark, audio, video { background: transparent; font-size: 100%; vertical-align: baseline; border: 0; outline: 0; margin: 0; padding: 0; }

html { background: #fff; font-family: 'Work Sans', Arial, Helvetica, sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; height: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; }
body { max-width: 100%; margin: 0 auto; padding: 0; }


/* FADE-IN */  
@keyframes fadein { from {opacity:0;} to {opacity:1;}}
@-moz-keyframes fadein { /* Firefox */ from {opacity:0;} to {opacity:1;}}
@-webkit-keyframes fadein { /* Safari and Chrome */ from {opacity:0;} to {opacity:1;}}
@-o-keyframes fadein { /* Opera */ from {opacity:0;} to {opacity: 1;}}
.fadeload {
	-webkit-animation: fadein 1s forwards; 
	-webkit-animation-name: fadein 1s forwards; 
	-webkit-animation-duration: 1s forwards; 	
}


/* SLIDE-UP */ 
@-webkit-keyframes upload { from {-webkit-transform:translate(0px, 30px)} to {-webkit-transform:translate(0px, 0px)}}
@-moz-keyframes upload { from {-moz-transform:translate(0px, 30px)} to {-moz-transform:translate(0px, 0px)}}
@-ms-keyframes upload { from {-ms-transform:translate(0px, 30px)} to {-ms-transform:translate(0px, 0px)}}
@-o-keyframes upload { from {-o-transform:translate(0px, 30px)} to {-o-transform:translate(0px, 0px)}}
@keyframes upload { from {transform:translate(0px, 30px)} to {transform:translate(0px, 0px)}}
.upload {
    opacity:0;
    opacity: 1 \9; /*just in case ie*/
	-webkit-animation: fadein, upload 500ms; 
	-webkit-animation-name: fadein, upload 500ms; 
	-webkit-animation-duration: 500ms;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-delay: 300ms;
    -moz-animation-delay:300ms;
    animation-delay: 300ms;
}

.upload.one {
    opacity:0;
    opacity: 1 \9; /*just in case ie*/
    -webkit-animation-delay: 500ms;
    -moz-animation-delay:500ms;
    animation-delay: 500ms;
}

.upload.two {
    opacity:0;
    opacity: 1 \9; /*just in case ie*/
    -webkit-animation-delay: 700ms;
    -moz-animation-delay:700ms;
    animation-delay: 700ms;
}

.upload.three {
    opacity:0;
    opacity: 1 \9; /*just in case ie*/
    -webkit-animation-delay: 900ms;
    -moz-animation-delay:900ms;
    animation-delay: 900ms;
}



/* MEDIA
------------------------------------------------------------------------------------------------ */

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 5.5em;
    line-height: 1.25em;
    margin-left: -3px;
    letter-spacing: 1px;
    font-weight: 400;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: .7em;
    line-height: 1em;
    margin: 0;
    padding: 2% 0 2% 0;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    letter-spacing: 12px;
    margin: 0;
    font-weight: 700;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: .7em;
    line-height: 1em;
    margin: 0;
    padding: 60px 10px 0 0;
    text-align: center;
    font-weight: 500;
    color: darkgrey;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-size: .75em;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 auto;
    color: #a8a8a8;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

a:hover {
    text-decoration: none;
    color: #000;
}

.navpad {
    padding: 0 20px 0 20px;
}

img { -ms-interpolation-mode: bicubic; }
img, object, embed { display: block; vertical-align: middle; max-width: 100%; width: auto; width: auto\9; /* IE Fix */ height: auto; border: 0; }

.hero {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin: 0 auto;
    border-bottom: 0px #e8e8e8 solid;
}

.footer {
    position: relative;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    padding: 9% 0 12% 0%;
    clear: both;
    color: #404041;
    text-align: center;
}

.footer a {
    color: #404041;
    text-align: center;
}

.footer a:hover {
    color: darkgray;
    text-align: center;
}

.intro {
    position: relative;
    padding: 15% 0 18% 0;
    margin: 0 auto;
    border-left: 0px #e8e8e8 solid;
    color: #404041;
    text-align: center;
}


.work {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #111111;
    margin: 0 auto;
    padding: 0 0 0px 0;
}


.left {
    display: inline-block;
    width: 50%;
    height: auto;
    float: left;
}

.right {
    display: inline-block;
    width: 50%;
    height: auto;
}

@media only screen and (max-width: 500px) {
    
    .intro {
    position: relative;
    padding: 150px 0 200px 0;
    margin: 0 auto;
    border-left: 0px #e8e8e8 solid;
    color: #1e2023;
    text-align: center;
}
    
    .folio-list {
        width: 85%;
        margin: 0 auto;
        padding: 20px 0 150px 0;
    }
    .left {
        display: block;
        width: 100%;
    }
    
    .right {
        width: 100%;
    }
    
    .footer {
    position: relative;
    width: 100%;
    background-color: #fff;
    height: 300px;
    margin: 0 auto;
    padding: 25% 0 0 0%;
    clear: both;
    color: #000;
    text-align: center;
}
        h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    line-height: 1.25em;
    margin-left: -3px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 6px;
}
    h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: .7em;
    line-height: 1em;
    margin: 0;
    padding: 2% 0 2% 0;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
}
}